.header {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #d3b715;
  align-items: center;
}
.item {
  text-decoration: none;
  color: black;
}
.image {
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
}
.main aside:nth-child(1) {
  order: -1;
}
.main aside:nth-child(2) {
  order: 3;
}

.content {
  padding: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
p {
  margin-bottom: 10px;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: #86ec86;
  text-align: center;
  padding: 10px 0px;
}
* {
  box-sizing: border-box;
}

.item {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 40px;
  text-align: center;
}

.vertical {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}
.vertical_title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  justify-content: center;
}
.vertical_body {
}
.vertical_row {
  display: flex;
  flex-wrap: wrap;
}
.vertical_column {
  min-width: 250px;
  flex: 0 1 33.333%;
  padding: 5px 30px;
  display: flex;
}
.vertical_item {
  background-color: white;
  color: black;
  border-radius: 40px;
  border: 1px solid;
  padding-bottom: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 10px;
}
img {
  width: 15%;
  max-width: 100%;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border: 10px solid #c5b5b5;
  border-radius: 100%;
}
.vertical_label {
  text-align: center;
  font-weight: bold;
  padding: 12px 0px;
}
.vertical_text {
  text-align: center;
  flex: 1 1 auto;
}
.vertical_btn {
  display: block;
  line-height: 30px;
  width: 50px;
  text-decoration: none;
  text-align: center;
  background-color: #695075;
  border-radius: 20px;
  color: white;
}
aside {
  max-width: 200px;
  width: 100%;
}
.left_side {
  font-size: 20px;
  text-align: center;
  background-color: #c798ba;
  padding: 10px;
}
.right_side {
  font-size: 20px;
  text-align: center;
  background-color: #aebfce;
  padding: 10px;
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: relative;
  right: auto;
  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
  display: block;
  position: absolute;
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: #616161;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -4px;
}
.menu__btn > span::after {
  content: "";
  top: 4px;
}
/* контейнер меню */
.menu__box {
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 25%;
  max-width: 350px;
  height: 100%;
  margin: 0;
  padding: 80px 0px;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
