blockquote {
  color: green;
}

.yellow {
  color: yellow
}

#greycol {
  color: grey
}

ul + p {
font-size: 26px;
}

a[href*="https"] {
  color:red;
}

p:nth-child(1) {
  color: red;
}

.text h3:first-child {
  color: pink;
}

.text div:nth-child(1) {
  color: green;
}

.text div + h3 + p {
  color:green
}

.list li + li + li:last-child {
  background-color: blue;
}

