.dashed {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin: 30px;
    border-style: dashed;
    border-width: 2px;
    border-color: red;
    background-color: green;
}

main {
    max-width: 800px;
    margin: 10px;
    text-align: justify;
}

.pic1 {
    float:left;
    width: 250px;
    margin: 0px 20px 20px 0;
}

.pic2 {
    float: right;
    width: 200px;
    margin: 20px 0 20px 20px;
}